<div style="margin: 24px">

  <h1 class="app-content-title">
    Now UX (Jalapeno)
  </h1>
  <div class="row">
    <div style="margin-bottom: 1em" class="
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4">
      <app-home-chart [props]="sprintGoals"></app-home-chart>
    </div>

    <div style="margin-bottom: 1em" class="
      col-xs-12
      col-sm-8
      col-md-6
      col-lg-8">
      <app-home-chart [props]="burnDown"></app-home-chart>
    </div>
  </div>

  <h1 class="app-content-title">
    Insight (Habenaro)
  </h1>
  <div class="row">
    <div style="margin-bottom: 1em" class="
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4">
      <app-home-chart [props]="sprintGoals"></app-home-chart>
    </div>

    <div style="margin-bottom: 1em" class="
      col-xs-12
      col-sm-8
      col-md-6
      col-lg-8">
      <app-home-chart [props]="burnDown"></app-home-chart>
    </div>
  </div>

</div>