<div style="margin: 24px">
  <div class="row">
    <div
      style="margin-bottom: 1em"
      class="
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4"
    >
      <app-home-chart [props]="bar"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4"
    >
      <app-home-chart [props]="mix2"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
    col-xs-12
    col-sm-8
    col-md-6
    col-lg-4"
    >
      <app-home-chart [props]="doughnut"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
    col-xs-12
    col-md-6"
    >
      <app-home-chart [props]="mix1"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
    col-xs-12
    col-md-6"
    >
      <app-home-chart [props]="radar"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
  col-xs-12
  col-sm-8
  col-md-6
  col-lg-4"
    >
      <app-home-chart
        [props]="horizontalBar"
      ></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
  col-xs-12
  col-sm-8
  col-md-6
  col-lg-4"
    >
      <app-home-chart [props]="polar"></app-home-chart>
    </div>

    <div
      style="margin-bottom: 1em"
      class="
  col-xs-12
  col-sm-8
  col-md-6
  col-lg-4"
    >
      <app-home-chart [props]="line"></app-home-chart>
    </div>
  </div>

  <p
    style="
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: grey;
  "
  >
    <app-i18n key="home.message"></app-i18n>
  </p>
</div>
