.filter {
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow-y: auto;
}

.filter .filter-buttons {
    text-align: right;
}

.filter .filter-buttons > * {
  margin-left: 8px;
  margin-bottom: 8px;
}

.filter .mat-form-field{
  width: 100%;
}
