.filter {
  margin-bottom: 24px;
  overflow-y: auto;
}

.filter .filter-buttons {
    text-align: right;
}

.filter .filter-buttons > * {
  margin-left: 8px;
  margin-bottom: 8px;
}

.filter .mat-form-field{
  width: 100%;
}
