<div
  [formGroup]="range"
  class="app-date-range-input-container"
>
  <input
    [type]="startType"
    class="app-date-range-input-element"
    (focusin)="startFocused = true"
    (focusout)="startFocused = false"
    formControlName="start"
    [placeholder]="i18n('common.start')"
  />
  <span
    class="app-date-range-input-spacer"
    >~</span
  >
  <input
    [type]="endType"
    class="app-date-range-input-element"
    (focusin)="endFocused = true"
    (focusout)="endFocused = false"
    formControlName="end"
    [placeholder]="i18n('common.end')"
  />
</div>
