<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h3 class="app-content-title">
    <app-i18n key="entities.story.view.title"></app-i18n>
  </h3>

  <app-story-view-toolbar></app-story-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.id.label"
      [value]="presenter(record, 'id')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.backlogPriority.label"
      [value]="presenter(record, 'backlogPriority')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.name.label"
      [value]="presenter(record, 'name')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.description.label"
      [value]="presenter(record, 'description')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.effort.label"
      [value]="presenter(record, 'effort')"
    ></app-view-item-text>

    <app-view-item-relation-to-one
      [label]="fields.phase.label"
      [url]="fields.phase.viewUrl"
      [permission]="fields.phase.readPermission"
      [value]="presenter(record, 'phase')"
    ></app-view-item-relation-to-one>

    <app-view-item-text
      [label]="fields.dateAdded.label"
      [value]="presenter(record, 'dateAdded')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.status.label"
      [value]="presenter(record, 'status')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.dateFinished.label"
      [value]="presenter(record, 'dateFinished')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.createdAt.label"
      [value]="presenter(record, 'createdAt')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.updatedAt.label"
      [value]="presenter(record, 'updatedAt')"
    ></app-view-item-text>
  </div>
</div>
