<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h3 class="app-content-title">
    <app-i18n key="entities.team.view.title"></app-i18n>
  </h3>

  <app-team-view-toolbar></app-team-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.name.label"
      [value]="presenter(record, 'name')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.estVelocity.label"
      [value]="presenter(record, 'estVelocity')"
    ></app-view-item-text>

    <app-view-item-images
      [label]="fields.image.label"
      [value]="presenter(record, 'image')"
    ></app-view-item-images>
    
    <app-view-item-text
      [label]="fields.updatedAt.label"
      [value]="presenter(record, 'updatedAt')"
    ></app-view-item-text>
  </div>
</div>
