<mat-form-field class="mat-form-field-image">
  <div class="image-form-field">
    <input
      type="text"
      matInput
      readonly
      placeholder="{{ label }}"
      [required]="!!required"
    />

    <button
      [disabled]="loading || isFull"
      mat-icon-button
      type="button"
      color="accent"
    >
      <mat-icon>insert_photo</mat-icon>

      <input
        [disabled]="loading || isFull"
        class="file-input"
        type="file"
        (change)="add($event)"
        #fileInput
        accept="image/*"
      />
    </button>
  </div>

  <mat-progress-bar
    color="accent"
    *ngIf="loading"
    mode="indeterminate"
  ></mat-progress-bar>
</mat-form-field>

<div style="margin-top: -16px" class="app-form-error">
  <app-validations
    *ngIf="submitted"
    [control]="control"
    [label]="label"
  ></app-validations>

  {{ localError }}
</div>

<div class="app-form-field" *ngIf="value && value.length">
  <br />
  <div class="row">
    <div *ngFor="let item of value" class="col-xs-6">
      <div class="image-form-field-image-container">
        <a [href]="item.publicUrl" target="_blank">
          <img
            [src]="item.publicUrl"
            class="image-form-field-image"
          />
        </a>
        <button
          mat-button
          color="accent"
          type="button"
          (click)="remove(item.id)"
        >
          <app-i18n key="common.remove"></app-i18n>
        </button>
      </div>
    </div>
  </div>
</div>
